.prj03 {
    margin: 40px 0px 0px 40px;
  }
  .Title03 {
    font-family: "Almarai";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #5f6b7a;
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 0px;
  }
  .label03 {
    width: auto;
  
    /* Paragraph */
  
    font-family: "Almarai";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  
    /* identical to box height, or 150% */
  
    /* neutral-6 */
    margin: 20px 0px 10px 0px;
    color: #5f6b7a;
  }
  
  .container03 {
    width: 370px;
    height: 149px;
    left: 642px;
    top: 205px;
  
    background: #ffffff;
    border: 1px solid #cfd6de;
    box-sizing: border-box;
    border-radius: 25px;
  }
  
  .img03 {
    width: 108px;
    height: 108px;
    float: left;
    margin: 21px;
    border-radius: 55.5px;
  }
  .input03:focus {
    outline: none !important;
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
  }
  .input03 {
    box-shadow: 2px 2px #b8c4ce;
    width: 363px;
    height: 45px;
  
    border-radius: 50px;
    border: 0.1px solid #cfd6de;
    text-indent: 19px;
    background: #ffffff;
  }
  
  .add03 {
    width: 400px;
  }
  .required03 {
    width: 370px;
    height: 27px;
    margin-top: 44px;
    /* Paragraph */
    color: #ff633b;
    font-family: "Almarai";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  
  .check03 {
    margin-top: 40px;
  }
  